/* div{
    height: 300px;
    width: 300px;
    display: inline-block;

}
div:nth-of-type(1){
    background-color: #7A1CAC;
}
div:nth-of-type(2){
    background-color: #AD49E1;
    /* position: fixed;   if it is fixed then its position is fixed it will not move */
    /* position: relative; */
    /* top: 100px;
    left: 35px; */

/* div:nth-of-type(3){
    background-color: #EBD3F8;
    position: relative;
    
} */ 
/* div:nth-of-type(4){
    background-color: #8C3061;
    position: absolute;
   margin: 9px;
    
    position: static;
} */
 