#main{
    height: 50px;
    border: 2px solid black;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:480px){
    main{
        height: 600px;
        width: 600px;
    }  
}

#child{
    
    display: flex;
    width: 500px;
    justify-content: space-around;
}
#one{
    color: orangered;
    padding-left: 10px;
}
#two{
    color: white;
    padding-left: 10px;
}
#three{
    color: white;
    padding-left: 10px;
}
#four {
    color: white;
    padding-left: 10px;
}
#five{
    color: white;
    padding-left: 10px;
}
*{
    margin: 0;
    padding: 0;
}
/* #main{
        height: auto;
    }

    @media screen and (max-width:480px){
        main{
            height: 600px;
            width: 600px;
        }  
    } */
