/* h1{
    transition: 2s;
}
h1:hover{
    transform: translateX(300px);
    transform: translate(300px,200px);
    transform: scaleY(1.5);
    transform: rotateY(180deg);
} */
#main{
    height: 430px;
    width: 600px;
    transition: 2s;
    position: relative;
    transform-style: preserve-3d;
    margin: auto;
    margin-top: 150px;
}
img{
   width: 100;
}
#one{
    z-index: 1;
    backface-visibility: hidden;
}
#main:hover{
    transform: rotateY(180deg);
}
#one,#two{
    position: absolute;
    height: 430px;
    width: 600px;
   
}

#two{
   
    background-color: chocolate;
    transform: rotateY(180deg);
}